<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
		<title>Confrontos - Política de Privacidade</title>

		<!-- CSS (load bootstrap from a CDN) -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
			@font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 300; font-display: auto; src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff'); } @font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-display: auto; src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff'); } @font-face { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 600; font-display: auto; src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff'); } @font-face { font-family: 'Source Sans Pro'; font-style: italic; font-weight: 400; font-display: auto; src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff'); } @font-face { font-family: 'Catamaran'; font-style: normal; font-weight: 400; font-display: auto; src: local('Catamaran'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v1/iVYgK2bOLvZcSxr0ITOecpBw1xU1rKptJj_0jans920.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; } @font-face { font-family: 'Catamaran'; font-style: normal; font-weight: 700; font-display: auto; src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v1/PpgVtUHUdnBZYNpnzGbScxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; } @font-face { font-family: 'Catamaran'; font-style: normal; font-weight: 700; font-display: auto; src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/l/font?kit=PpgVtUHUdnBZYNpnzGbSc6SFsKGqWoCZdyCfKibzrG3-WNwQ_1wFoOPmFoGjG5-8mvTD2jCNI8H-WdWZyQihOw&skey=57b3a2830111dbc0&v=v1) format('woff2'); } @font-face { font-family: 'Nunito Sans'; font-style: normal; font-weight: 400; font-display: auto; src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v2/iJ4p9wO0GDKJ-D5teKuZqogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; } @font-face { font-family: 'Nunito Sans'; font-style: normal; font-weight: 700; font-display: auto; src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v2/XvilrNtBQKRMeiqSPzEFHf79_ZuUxCigM2DespTnFaw.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
		</style>
		<link rel="stylesheet" href="assets/app.css">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="assets/img/brand.png" /> Confrontos
						</a>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<div>
			<div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Política de Privacidade</h2>
          </div>
          <div class="panel-body">
            <p>Como parte integrante dos Termos de Uso e Condições de Navegação do PORTAL CONFRONTOS, este documento, denominado Política de Privacidade, tem por finalidade estabelecer as regras sobre a obtenção, uso e armazenamento dos dados e informações coletadas dos seus usuários, além do registro de suas atividades.</p>
          </div>
        </div>
			</div>
		</div>
    <footer></footer>
	</body>
</html>